@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Familjen Grotesk', sans-serif;
    background-color: #F9F6E6;
    font-size : 100%;
}

.section_bienvenue_site{
    display: flex;
    position : absolute;
    width : 35vw;
    height: 70vh;
    background-position: left center;
    background-repeat: no-repeat;
    background-color:#8D77AB ;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    margin-left : 300px;
    margin-top: 150px;
   
    
}

.section_bienvenue_site h2{
    font-size: 20px; 
    color: rgb(255, 255, 255); 
    text-align: center;
    text-size-adjust: 50;
    margin-bottom: 80px;
   
}


.logo {
    width: 400px;
    height: 150px;
    margin :0;
    display:flex;
    margin-bottom: 80px;
    
}
  
.logo img {
    width: 100%;
    height: auto;
    display: block;
    margin :0 auto;
    
   
}

.section_bienvenue_site p {
    width : 400px;
    font-size: 20px; 
    color: rgb(255, 255, 255); 
    text-align: center;

}

.signin{
    float: right;
    width : 50vw;
    height: 70vh;
    background-position: right center;
    background-repeat: no-repeat;
    background-color:#e1eacd;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    margin-right : 300px;
    margin-top: 150px;
   
    
}

.signin h2 {
    width: 30px;
    font-size: 30px; 
    color: rgb(0, 0, 0); 
    text-align: center;
    text-size-adjust: 50;
    margin-bottom: 80px;
}