@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Familjen Grotesk', sans-serif;
    background-color: #F9F6E6;
    font-size : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    }

/* Parent container */
.parent {
    display: flex;
    width:auto;
    margin: 1.5em 5em 1.5em 5em;     
}

.section_bienvenue_site {
    background-color: #8D77AB; /* Couleur de fond violette */
    position: relative;
    overflow: hidden;
    width:50%;
    justify-content: center;
    flex-direction:column;
    height: auto;
    padding:20px;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    
}

.section_bienvenue_site h2 {
    font-family: "montserrat", sans-serif;
    font-size: 2em;
    color: #fffefe;
    text-align: center;
    padding: 20px 1.5em 1.5em 2em;
    width: 100%;
    height: auto;    
    
}

div.logo {
    display: flex;
    justify-content: center;

}
.logo img {
    width: 70%;
    max-width: 100%;
    padding: 0 1.5em 0 2em;
}

.section_bienvenue_site p {
    width: 85%;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 2em 0 1.5em;

}

.signin {
    background-color: #e1eacd; /* Couleur de fond verte */
    align-items: center;
    width:50%;
    flex-direction: column;
    position:relative;
    padding:20px;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}



.signin h2 {
    width: 100%;
    height:auto;
    font-size: 2rem; 
    color: grey; 
    text-align: center;
    align-self:flex-start;
    padding: 10px 1em 1em 1em;
    
}


/*** Formulaire ***/


.form-group1,.form-group2,.form-group3{
    position:relative;
    display:flex;
    align-items: center;
    width:80%;
    height:10%;
    justify-content: center;
    margin: 1em 0 1.5em 0;
    left:10%;
    right:10%; 
}

.form-group1{
    margin: 1.5em 0 3em 0;

}

.form-group3{
    display: flex;
    justify-content: space-between;
    margin: 3rem 1.5rem 0 0.5rem;
}


.user_logo{
    position:absolute;
    width:20px;
    top:50%;
    left:10px;
    transform: translateY(-50%);
    height:auto;

}


.password_logo{
    position:absolute;
    width:20px;
    top:50%;
    left:10px;
    transform: translateY(-50%);
    height:auto;
}



.form-control {
    width: 100%;
    padding: 0.300rem 1rem 0.300rem 2.5rem; 
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    padding: 1em;
    border-radius: 2em;
    padding-left: 2em;

}

.btn {
    cursor:pointer;
    background-color: #8D77AB;
    border: 1.5px solid #3c215c;
    padding: 0.5em 1em 0.5em 1em;
    border-radius:1rem;

}

.signin p{
    align-self:flex-start;
    margin-top:15px;
    text-decoration: underline;
    color: gray;
}


/*** Page Email ***/

.parent_email{
    display: flex;
    width:50%;
    height: 50%;
    margin: 1.5em 5em 1.5em 5em;
    background-color:#e1eacd ;
    padding: 0 5em 0 2em;
    
    

}



